<ldap><entry name="{{ template_vars.ldap.profile_name }}"><server><entry name="{{ template_vars.ldap.server_title }}"><address>{{ template_vars.ldap.server_address }}</address><port>{% if template_vars.ldap.ssl -%}636{%- else -%}389{% endif -%}</port></entry></server><ldap-type>active-directory</ldap-type><bind-dn>{{ template_vars.ldap.bind_dn }}</bind-dn><bind-password>{{ template_vars.ldap.bind_password }}</bind-password><ssl>{% if template_vars.ldap.ssl -%}yes{%- else -%}no{%- endif %}</ssl><verify-server-certificate>yes</verify-server-certificate><base>{{ template_vars.ldap.base_dn }}</base></entry></ldap>