<setting><wmi-account>{{ template_vars.user_id.svc_account }}</wmi-account><wmi-password>{{ template_vars.user_id.svc_password }}</wmi-password><domain-name>{{ template_vars.user_id.domain }}</domain-name></setting>